---
default: employees

connections:
  employees:
    server: "prod-sql"
    user: "corp-domain\\service-user"
    password: "service-password"
  finance:
    server: "prod-sql"
    server: "1450"
    database: "employees"
    user: "corp-domain\\finance-user"
    password: "top-secret-password"

output_csv:
  file_prefix: "mssql-query"
  file_suffix: ".csv"
  directory: null
